<div class="gta-video">
    <video-bg video-id="vm.video" start="10"></video-bg>
</div>

<div class="gta-intro">
    <div class="gta-intro-header" id="header">Game Tracker Advanced</div>
    <div class="gta-logo-container">
        <span class="gta-logo">&#9898;</span>
        <span class="gta-logo-year">2016</span>
        <span class="gta-logo">&#9898;</span>
    </div>
    <div class='gta-line'></div>
    <p>Welcome to Angular Advanced Bootcamp final project. Here you will experience new way of game tracking system. This application alows you to
        track all games that you ever played or games that you would like to play in a nearest future.
    </p>
    <div class="gta-intro-button"><a ui-sref="games.list">FEEL THE EXPERIENCE</a></div>
</div>